[submodule "app/wfbngrtl8812/src/main/cpp/wfb-ng"]
	path = app/wfbngrtl8812/src/main/cpp/wfb-ng
	url = https://github.com/svpcom/wfb-ng.git
	branch = master

[submodule "app/devourer"]
	path = app/devourer
	url = https://github.com/imagemlt/DualDevourer.git
